<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
#Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Tools and Ecosystem

In [2]:
#Exercise 3 - Create a markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

In [12]:
#Exercise 10 - Insert a markdown cell to list Objectives

# List popular languages for Data Science
#### List popular languages for Data Science:
###### Objectives:
<ol>
    <li> python</li> 
    <li> R</li>
    <li> Java</li>
    <li> Julia</li>
    <li> Matlab</li>
</ol>

In [3]:
#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. python 
2. R
3. Java

In [4]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. sklearn
4. matplotlib

In [5]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools|
| --- |
| SAS |
| SPSS |
| Tableau |

In [6]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [4]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [5]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [10]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 // 60
minutes = 200 % 60
print('200 minutes =', hours,'hours', minutes, 'minutes.')
hours_only = 200 / 60
print('Also can be written as follow:')
print('200 minutes =', hours_only, 'hours.')

200 minutes = 3 hours 20 minutes.
Also can be written as follow:
200 minutes = 3.3333333333333335 hours.

In [13]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Bonnie Lai